* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  -webkit-box-shadow: 0px 10px 51px rgba(63, 44, 44, 0.25);
          box-shadow: 0px 10px 51px rgba(63, 44, 44, 0.25);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp .fab {
  margin-top: 9px;
  font-size: 40px;
}

.navbar {
  padding-left: 100px !important;
  padding-right: 100px !important;
  background-color: white !important;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.25);
}

.navbar .nav-logo {
  width: 35%;
  height: 35%;
}

.bg-light {
  background-color: white !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  outline: none;
}

.section-one {
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(39, 66, 68, 0.75)), to(rgba(39, 66, 68, 0.75))), url(../media-estudio/imagen-uno.jpg);
  background: linear-gradient(0deg, rgba(39, 66, 68, 0.75), rgba(39, 66, 68, 0.75)), url(../media-estudio/imagen-uno.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-one .img-logo {
  height: 50%;
  width: 50%;
}

.section-one .section-one-text {
  margin-top: 50px;
}

.section-one .section-one-text h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 2.1rem;
  letter-spacing: 2px;
}

#section-two {
  margin-bottom: 100px;
  height: 650px;
}

#section-two .section-two-title {
  font-family: "Libre Baskerville", serif;
  font-size: 3.8rem;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 50px;
}

#section-two .section-two-title::after {
  content: '';
  position: absolute;
  display: block;
  left: 48%;
  width: 4%;
  height: 25%;
  border-bottom: 3px solid #C6A17D;
  bottom: 15%;
}

#section-two .section-two-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px !important;
  height: 200px !important;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#section-two .section-two-card:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#section-two .section-two-card .card-top {
  position: relative;
  z-index: -1;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E7CCAB;
  border-radius: 8px 8px 0px 0px;
}

#section-two .section-two-card .card-top h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 2.1rem;
}

#section-two .section-two-card .card-top img {
  position: absolute;
  bottom: 20%;
  right: 70%;
}

#section-two .section-two-card .card-bottom {
  color: #737373;
  position: absolute;
  width: 100%;
  top: 90px;
  z-index: 1;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  border-radius: 8px 8px 8px 8px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 15px;
  height: 380px;
  border: solid 1px #E7CCAB;
}

#section-three {
  height: 750px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
  background: rgba(231, 204, 171, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#section-three .section-three-title {
  font-family: "Libre Baskerville", serif;
  font-size: 3.8rem;
  font-weight: 400;
  margin-top: 100px;
}

#section-three .section-three-title::after {
  content: '';
  position: absolute;
  display: block;
  left: 48%;
  width: 4%;
  height: 25%;
  border-bottom: 3px solid #C6A17D;
  bottom: -10%;
}

#section-three .section-three-img {
  position: absolute;
  z-index: 1;
  left: 15%;
  top: 42%;
  height: 70%;
  width: 40%;
  border: 15px solid white;
}

#section-three .section-three-content {
  padding-right: 20%;
  margin-top: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #274244;
  height: 272px;
}

#section-three .section-three-content .section-three-text {
  position: absolute;
  left: 58%;
  color: white;
  font-size: 2rem;
}

.section-four {
  height: 700px;
}

.section-four .section-four-title {
  font-family: "Libre Baskerville", serif;
  font-size: 3.8rem;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-four .section-four-title::after {
  content: '';
  position: absolute;
  display: block;
  left: 48%;
  width: 4%;
  height: 25%;
  border-bottom: 3px solid #C6A17D;
  top: 45%;
}

.section-four .section-four-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px 35px;
  width: 329px;
  height: 400px;
  background: #FFFFFF;
  border: 1.5px solid #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.section-four .section-four-cards .star-icons .fa-star {
  color: #FDCC0D;
  font-size: 1.5rem;
}

.section-four .section-four-cards .cards-content {
  color: #737373;
  font-size: 1.6rem;
}

.section-four .section-four-cards .cards-bottom {
  color: #274244;
  font-size: 1.7rem;
}

.section-four .section-four-cards .cards-bottom span {
  color: #C6A17D;
}

.section-five {
  height: 850px;
  background: -webkit-gradient(linear, left top, right top, color-stop(38.54%, rgba(39, 66, 68, 0.85)), color-stop(52.6%, rgba(39, 66, 68, 0.741067)), color-stop(67.71%, rgba(39, 66, 68, 0.595)), color-stop(83.33%, rgba(39, 66, 68, 0.294484)), color-stop(100%, rgba(39, 66, 68, 0)), to(rgba(39, 66, 68, 0))), url("../media-estudio/Imagen 3.jpg");
  background: linear-gradient(90deg, rgba(39, 66, 68, 0.85) 38.54%, rgba(39, 66, 68, 0.741067) 52.6%, rgba(39, 66, 68, 0.595) 67.71%, rgba(39, 66, 68, 0.294484) 83.33%, rgba(39, 66, 68, 0) 100%, rgba(39, 66, 68, 0) 100%), url("../media-estudio/Imagen 3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.section-five .section-five-title {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 3.8rem;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-five .section-five-title::after {
  content: '';
  position: absolute;
  display: block;
  left: 48%;
  width: 4%;
  height: 25%;
  border-bottom: 3px solid #C6A17D;
  top: 40%;
}

.section-five .form .form-title {
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  color: white;
  font-size: 3.2rem;
}

.section-five .form .form-input {
  width: 30%;
  margin: 5% 5% 5% 0%;
  font-size: 1.5rem;
  padding: 1%;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  max-height: 40px;
}

.section-five .form .form-input:focus {
  outline: none;
}

.section-five .form .form-textarea {
  width: 65%;
  margin: 0% 5% 2% 0%;
  font-size: 1.6rem;
  padding: 1%;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  height: 250px;
}

.section-five .form .form-textarea:focus {
  outline: none;
}

.section-five .form .cta-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: white;
  padding: 1% 2%;
  background: #C6A17D;
  border-radius: 5px;
}

.section-six {
  height: 650px;
  background-color: #F8F0E6;
}

.section-six .section-six-title {
  font-family: "Libre Baskerville", serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 15%;
}

.section-six .section-six-title::after {
  content: '';
  position: absolute;
  display: block;
  left: 2%;
  width: 65%;
  height: 25%;
  border-bottom: 3px solid #C6A17D;
  top: 15%;
}

.section-six p {
  font-size: 1.6rem;
}

.section-six p .fas {
  font-size: 1.8rem;
  margin-right: 10px;
}

.section-six .section-six-container {
  margin-top: 100px;
}

.section-six .mapouter {
  box-shadow: 4px 5px 8px 1px rgba(21, 19, 19, 0.39);
  -webkit-box-shadow: 4px 5px 8px 1px rgba(21, 19, 19, 0.39);
  -moz-box-shadow: 4px 5px 8px 1px rgba(21, 19, 19, 0.39);
}

.footer {
  height: 300px;
  background-color: #274244;
}

.footer .derechosFooter .footer-text {
  font-size: 1.6rem;
  color: white;
}

.footer h2 {
  font-size: 2.3rem;
  font-weight: 200;
  color: white;
}

.footer h2::before {
  content: '|';
  color: white;
  padding-right: 5px;
}

.footer .redesContainer .fab {
  color: white;
  font-size: 2.5rem;
  margin-top: 5%;
}

.footer .far {
  color: white;
  font-size: 2.5rem;
  margin-top: 5%;
}

.footer p {
  font-size: 1.6rem;
  color: white;
  margin: 0;
}

.linksFooter a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1600px) and (min-width: 901px) {
  html {
    font-size: 50%;
  }
  .section-two-card .card-top img {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20%;
    right: 66% !important;
    padding-right: 10px;
  }
  .section-four .section-four-cards {
    height: 400px;
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 551px) {
  html {
    font-size: 58%;
  }
  .nav-logo {
    width: 250px !important;
    height: 60px !important;
  }
  #section-two {
    height: 1700px;
  }
  #section-two .section-two-card {
    margin: 140px 0px !important;
  }
  #section-two .firstCard {
    margin: 0px 0px 140px 0px !important;
  }
  .section-three-img {
    position: absolute;
    z-index: 1;
    left: 5% !important;
    top: 42%;
    height: 70%;
    width: 50% !important;
    border: 15px solid white;
  }
  .section-four {
    height: 1200px;
  }
  .section-four .section-four-cards {
    height: 250px;
    margin: 10px 0px;
  }
  .section-five .form-title {
    text-align: center;
  }
  .section-five .form-input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-five .form-input-box .form-input {
    width: 80%;
    margin: 3% 5px !important;
    height: 30px;
  }
  .section-five .text-area-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-five .text-area-box .form-textarea {
    width: 80%;
    height: 200px !important;
    margin: 5% 0px;
  }
  .section-five .form-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-six .section-six-title::after {
    top: 10%;
  }
}

@media only screen and (max-width: 550px) and (min-width: 320px) {
  html {
    font-size: 45%;
  }
  .navbar {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .navbar .nav-logo {
    width: 150px;
    height: 40px;
  }
  .section-one {
    background-attachment: inherit;
  }
  .section-one .img-logo {
    height: 200px;
    width: 100%;
  }
  .section-one .section-one-text {
    margin-top: 20px;
  }
  .section-one .section-one-text h2 {
    font-size: 1.8rem;
  }
  #section-two {
    height: 1200px;
  }
  #section-two .section-two-card {
    margin: 20px 0px 140px 0px !important;
  }
  #section-two .section-two-card:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #section-two .section-two-card .card-bottom {
    padding: 0%;
    padding-top: 10%;
    height: 250px;
    text-align: center;
  }
  #section-two .section-two-card .card-bottom p {
    font-size: 2rem;
  }
  #section-three {
    height: 600px;
    border: none;
  }
  #section-three .section-three-img {
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 35%;
    height: 30%;
    width: 80%;
    border: 15px solid white;
  }
  #section-three .section-three-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-top: 170px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-color: #274244;
    height: 272px;
  }
  #section-three .section-three-content .section-three-text {
    width: 60%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 21%;
    text-align: center;
    color: white;
    font-size: 2.2rem;
  }
  .section-four {
    height: 850px;
  }
  .section-four .section-four-title {
    margin-bottom: 50px;
  }
  .section-four .section-four-title::after {
    top: 60%;
  }
  .section-four .section-four-cards {
    margin-bottom: 5px;
    height: 200px;
  }
  .section-four .section-four-cards .star-icons {
    text-align: center;
  }
  .section-four .section-four-cards .cards-content {
    text-align: center;
  }
  .section-four .section-four-cards .cards-bottom {
    text-align: center;
  }
  .section-five {
    height: 600px;
    background-attachment: scroll;
    overflow: hidden;
  }
  .section-five .section-five-title {
    margin-bottom: 40px;
  }
  .section-five .section-five-title::after {
    top: 60%;
  }
  .section-five .form-title {
    text-align: center;
    margin: 0px;
  }
  .section-five .form-input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-five .form-input-box .form-input {
    width: 100%;
    margin: 0px !important;
    height: 40px;
  }
  .section-five .text-area-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-five .text-area-box .form-textarea {
    width: 100%;
    margin: 0px !important;
    height: 200px;
  }
  .section-five .form-button-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-six {
    height: 600px;
  }
  .section-six .section-six-title {
    text-align: center;
    margin-top: 5px;
  }
  .section-six .section-six-title::after {
    content: '';
    position: absolute;
    display: block;
    left: 47%;
    width: 5%;
    height: 25%;
    border-bottom: 3px solid #C6A17D;
    top: 20%;
  }
  .section-six p {
    text-align: center;
  }
  .section-six .mapouter {
    margin-top: 30px;
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */